---
import Layout from "../layouts/Layout.astro";
import image3 from "../img/icon2.png";
---

<Layout title="Contacto">
  <div
    class="mx-auto px-6 py-16 text-white flex flex-col items-center text-center space-y-8"
  >
    <div class="w-72 h-72">
      <img
        src={image3.src}
        alt="Icono representativo de contacto"
        class="w-full h-full object-contain rounded-full"
      />
    </div>

    <div>
      <h1 class="text-4xl font-extrabold">¡Contáctame!</h1>
      <p class="mt-4 text-lg max-w-2xl leading-relaxed">
        Detrás de cada aplicación que funciona sin problemas, hay un
        desarrollador backend que convierte la lógica en magia.
        <br /> ¡Hablemos y desarrollemos algo increíble juntos!
      </p>
    </div>

    <div class="flex flex-wrap justify-center gap-4 mt-6">
      <a
        href="https://github.com/2A2G"
        target="_blank"
        rel="noopener noreferrer"
        class="px-6 py-2 bg-blue-500 text-white rounded-lg shadow-md hover:bg-blue-400"
      >
        GitHub
      </a>
      <a
        href="https://www.linkedin.com/in/aldair-gutierrez-guerrero"
        target="_blank"
        rel="noopener noreferrer"
        class="px-6 py-2 bg-blue-500 text-white rounded-lg shadow-md hover:bg-blue-400"
      >
        LinkedIn
      </a>
      <a
        href="mailto:aldairgguer@gmail.com"
        target="_blank"
        rel="noopener noreferrer"
        class="px-6 py-2 bg-blue-500 text-white rounded-lg shadow-md hover:bg-blue-400"
      >
        Gmail
      </a>
      <a
        href="https://www.instagram.com/g24aldair"
        target="_blank"
        rel="noopener noreferrer"
        class="px-6 py-2 bg-blue-500 text-white rounded-lg shadow-md hover:bg-blue-400"
      >
        Instagram
      </a>
    </div>
  </div>
</Layout>
