---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Linkedin from "../components/svg/Linkedin.astro";
import Git from "../components/svg/Git.astro";
---

<Layout title="MI PORTAFOLIO">
  <Navbar />
  <div class="container mx-auto px-4 py-40">
    <div class="row flex flex-wrap justify-around items-center">
      <!-- Texto a la izquierda -->
      <div class="col-12 md:col-6 text-white py-10 text-center md:text-left">
        <h1 class="text-5xl md:text-7xl font-bold">Soy Aldair,</h1>
        <h2 class="text-3xl md:text-5xl font-semibold">
          Desarrollador Software
        </h2>
        <div class="flex justify-center md:justify-start space-x-4 mt-6">
          <a
            href="https://github.com/2A2G"
            target="_blank"
            rel="noopener noreferrer"
          >
            <Git />
          </a>
          <a
            href="https://www.linkedin.com/in/aldair-gutierrez-guerrero"
            target="_blank"
            rel="noopener noreferrer"
          >
            <Linkedin />
          </a>
        </div>
      </div>

      <!-- Imagen circular a la derecha -->
      <div
        class="col-12 md:col-6 flex justify-center items-center py-8"
        style="border-bottom-left-radius: 50px; border-bottom-right-radius: 50px;"
      >
        <img
          src="https://aguacatec.es/wp-content/uploads/2023/10/e5a978b8-6772-4c85-a50e-15581af7d483.png"
          alt="Aldair"
          class="rounded-full object-cover"
          style="max-width: 100%; height: auto; width: 300px; max-height: 300px;"
        />
      </div>
    </div>
    <!-- Mensaje destacado -->
    <div class="flex justify-center py-12">
      <p
        class="text-white text-xl md:text-2xl font-medium p-6 rounded-lg shadow-lg max-w-3xl text-center"
      >
        Detr치s de cada aplicaci칩n que funciona sin problemas, hay un
        desarrollador backend que convirti칩 la l칩gica en magia.
      </p>
    </div>
  </div>
</Layout>
