---
import Layout from "../layouts/Layout.astro";
import Linkedin from "../components/svg/Linkedin.astro";
import Git from "../components/svg/Git.astro";
import icon from "../img/icon2.png";
---

<Layout title="MI PORTAFOLIO">
  <div class="mx-auto px-4 py-24">
    <div class="row flex flex-wrap justify-around items-center">
      <div class="col-12 md:col-6 text-white py-10 text-center md:text-left">
        <h1 class="text-5xl md:text-7xl font-bold">Soy Aldair,</h1>
        <h2 class="text-3xl md:text-5xl font-semibold">
          Desarrollador Software
        </h2>
        <div class="flex justify-center md:justify-start space-x-4 mt-6">
          <a
            href="https://github.com/2A2G"
            target="_blank"
            rel="noopener noreferrer"
          >
            <Git />
          </a>
          <a
            href="https://www.linkedin.com/in/aldair-gutierrez-guerrero"
            target="_blank"
            rel="noopener noreferrer"
          >
            <Linkedin />
          </a>
        </div>
      </div>

      <div
        class="col-12 md:col-6 flex justify-center items-center py-8"
        style="border-bottom-left-radius: 50px; border-bottom-right-radius: 50px;"
      >
        <img
          src={icon.src}
          alt="Aldair"
          class="rounded-full object-cover"
          style="max-width: 100%; height: auto; width: 300px; max-height: 300px;"
        />
      </div>
    </div>
    <div class="flex justify-center py-12">
      <p
        class="text-white text-xl md:text-2xl font-medium p-6 rounded-lg shadow-lg max-w-3xl text-center"
      >
        Detrás de cada aplicación que funciona sin problemas, hay un
        desarrollador backend que convirtió la lógica en magia.
      </p>
    </div>
    <div class="flex justify-center py-12">
      <a
        href="/about"
        class="bg-blue-500 text-white py-3 px-6 rounded-lg text-xl font-semibold shadow-lg transition-all duration-300 hover:bg-blue-600 hover:scale-105"
      >
        Sobre mí
      </a>
    </div>
  </div>
</Layout>
