---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import CardProjects from "../components/Card.projects.astro";

---

<Layout title="Projects">
  <div class="mx-auto px-4 py-24">
    <CardProjects />
  </div>
</Layout>
