<nav class="w-full">
  <div class="max-w-7xl mx-auto px-4 py-6">
    <div class="flex justify-center space-x-32 text-white">
      <a href="" class="hover:text-cyan-500">Inicio</a>
      <a href="" class="hover:text-cyan-500">Sobre Mí</a>
      <a href="" class="hover:text-cyan-500">Proyectos</a>
      <a href="" class="hover:text-cyan-500">Contactos</a>
    </div>
  </div>
</nav>
