<nav class="w-full">
  <div class="max-w-7xl mx-auto px-4 py-6">
    <div class="flex justify-center space-x-32 text-white">
      <a
        href="/"
        class={Astro.url.pathname === "/"
          ? "text-cyan-500 pointer-events-none"
          : "hover:text-cyan-500"}
      >
        Inicio
      </a>
      <a
        href="/about"
        class={Astro.url.pathname === "/about"
          ? "text-cyan-500 pointer-events-none"
          : "hover:text-cyan-500"}
      >
        Sobre Mí
      </a>
      <a
        href="/projects"
        class={Astro.url.pathname === "/projects"
          ? "text-cyan-500 pointer-events-none"
          : "hover:text-cyan-500"}
      >
        Proyectos
      </a>
      <a
        href="/contact"
        class={Astro.url.pathname === "/contact"
          ? "text-cyan-500 pointer-events-none"
          : "hover:text-cyan-500"}
      >
        Contactos
      </a>
    </div>
  </div>
</nav>
